@use '../base' as *;

/* -------------------------------- 

File#: _1_socials
Title: Socials
Descr: Section with links to social media accounts
Usage: codyhouse.co/license

-------------------------------- */

.socials__btns {
  a {
    --size: 1.75em;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-contrast-high);
    transition: .3s;

    .icon {
      font-size: 1.05em; /* icon size */
      color: var(--color-bg); /* icon color */
      transition: color .3s, transform .3s var(--ease-out-back);
    }

    &:hover {
      background-color: var(--color-primary);

      .icon {
        transform: scale(1.2);
        color: var(--color-white);
      }
    }
  }
}